* {
  bg0     : rgba(26, 27, 38, 0.9);
  bg1     : rgba(31, 35, 53, 0.9);
  bg2     : rgba(36, 40, 59, 0.9);
  bg3     : rgba(65, 72, 104, 0.9);
  fg0     : #c0caf5;
  fg1     : #a9b1d6;
  fg2     : #737aa2;
  red     : #f7768e;
  green   : #9ece6a;
  yellow  : #e0af68;
  blue    : #7aa2f7;
  magenta : #9a7ecc;
  cyan    : #4abaaf;

  accent: @red;
  urgent: @yellow;
}

