/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #121a1b !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c5c6; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c5c6; background-color: rgba(135,140,120,0.4)}
.cm-s-nqqwal { background-color: #121a1b; color: #c3c5c6; }
.cm-s-nqqwal span.cm-builtin { color: #4C4F4F; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5c7171; }
.cm-s-nqqwal span.cm-keyword { color: #616561; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8C6D67; }
.cm-s-nqqwal span.cm-def { color: #708A67; }
.cm-s-nqqwal span.cm-variable { color: #878C78; }
.cm-s-nqqwal span.cm-variable-2 { color: #708A67; }
.cm-s-nqqwal span.cm-string { color: #4C4F4F; }
.cm-s-nqqwal span.cm-string-2 { color: #4C4F4F; }
.cm-s-nqqwal span.cm-number { color: #708A67; }
.cm-s-nqqwal span.cm-tag { color: #616561; }
.cm-s-nqqwal span.cm-property { color: #878C78; }
.cm-s-nqqwal span.cm-attribute { color: #878C78; }
.cm-s-nqqwal span.cm-qualifier { color: #8C6D67; }
.cm-s-nqqwal span.cm-meta { color: #708A67; }
.cm-s-nqqwal span.cm-header { color: #616561; }
.cm-s-nqqwal span.cm-operator { color: #616561; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(112,138,103,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #616561; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #121a1b); }
